.add_button, .stop_button {
    position: absolute;
    background-color: var(--primary);
    color: var(--accent-text);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.stop_button {
    display: none;

}
.add_button:hover, .stop_button:hover {
    background-color: var(--primary-variant);
}