@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1095D9;
  --primary-background: #1F2937;
  --primary-variant: #7C3AED;

  --accent-primary: #7C3AED;

  --input-background: #111827;

  --accent-text: rgba(255, 255, 255, 0.74);

  --font: 'open sans', sans-serif;
}

* {
  font-family: var(--font);
}