.modal {
    border-radius: 30px;
    padding: 20px;
    background-color: var(--primary-background);
    border: 1px solid var(--primary);
    box-shadow: 0px 10px 10px -5px var(--primary);
    color: var(--accent-text);
}

.close_button:hover {
    color: var(--primary-variant);
}